APP_HOST=api.staging.infoeducatie.ro

AWS_S3_BUCKET=data.staging.infoeducatie.ro
AWS_S3_HOST=https://data.staging.infoeducatie.ro
AWS_S3_KEY=
AWS_S3_REGION=eu-central-1
AWS_S3_SECRET=

CORS_ALLOWED_ORIGINS=https://staging.infoeducatie.ro
DATABASE_URL=postgres://postgres:postgres@db:5432/infoeducatie_production

DISABLE_EMAIL=false
DISCOURSE_API=
DISCOURSE_USER=muflonel

PORT=3000
RAILS_ASSUME_SSL=true
RAILS_ENV=production
RAILS_FORCE_SSL=false
RAILS_LOG_LEVEL=info
RAILS_MAX_THREADS=5
RACK_ENV=production
WEB_CONCURRENCY=0

SECRET_KEY_BASE=

SENTRY_DSN=

SMTP_AUTHENTICATION=plain
SMTP_HOST=
SMTP_PASSWORD=
SMTP_PORT=587
SMTP_USERNAME=
