!!!
%html{"ng-app" => "infoeducatie"}
  %head
    %title Infoeducatie
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'pages'
    = csrf_meta_tags
  %body
    %div.colorbar
    %nav.navbar.navbar-default{role: "navigation"}
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-infoeducatie-navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "#"} InfoEducatie
        / Collect the nav links, forms, and other content for toggling
        #bs-infoeducatie-navbar-collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{href: "#/"} Acasă
            %li
              %a{href: "#/stiri"} Știri
            %li
              %a{href: "#/alumni"} Alumni
            %li
              %a{href: "#/poze"} Poze
            %li
              %a{href: "#/galaciuc"} Gălăciuc
            %li
              %a.join{href: "#/inscriere"} Înscriere

          %ul.nav.navbar-nav.navbar-right
  .container#infoeducatie-main
    %div{"ng-view" => true}
